

html {
	font-family: 'AvenirNextLTPro-Regular';
	background-color: white;
}

@font-face {
	font-family:"AvenirNextLTPro-Regular";
	src: url("AvenirNextLTPro-Regular.otf");
}

body {
	margin: 0;
}

#wrapper {

	max-width: 1280px;
	margin: auto;

}

table {

	border-collapse: collapse;

}

a:link {

	text-decoration: none;
	color: black;
}

a:visited {

	text-decoration: none;
	color: black;
}

a:active {

	text-decoration: none;
	color: black;
}

a:hover {

	text-decoration: none;
	color: #8c3728;
}

* {
	font-size: 16px;
	margin-block-start: 0;
	margin-block-end: 0;
	font-weight: 100;
	max-width: 100%;
}

td {
	vertical-align: top;
}

.index {
	margin-top: 2em;
}

.title p {
	padding: 3rem 0 1rem 0;
}
.index .group > td{
	border-top: 1rem transparent;
	padding-top: 1rem;
}

/* resets */
*{
	cursor: default;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

a, a> * {
	cursor: pointer;
}

button{
	all: unset;
}

/* contact animation */
#contact:hover, #email:hover{
	color: #8c3728;
	cursor: pointer;
}


.item {
	display: flex;
}

.item:hover{
	color: #8c3728;
}

.item >p {
	text-align: right;
	padding-right: 2em;
}

.home {
	margin: 1em 0;
	display:flex;
	align-items: flex-end;
}


h1, h2{
	margin-bottom: 1em;
}

nav section, #index{
	margin-bottom: 2em;
}

.info h3{
	font-style: italic;
}

ul {
	list-style: none;
}

	.info {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.info *:not(:first-child)::before{
		content: '|';
		margin: 1em;
	}

/* transition */

/* phone rules */
@media screen and ( max-width: 696px) {
	body{
		margin: 0 5px auto;
	}

	#menuTog{
		display: block;
		margin-left: 1em;
	}

	/* default formatting */
	#title {
		display: flex;
		justify-content: flex-start;
		align-items: baseline;
	}

	/* logo resizing */
	.home{
		/* width: 90%; */
		max-width: 120px; 
	}
	.home > * {
		width: 50%; 
	}
	
	#gal {
		text-align: center;
	}

	/* index formatting */

	header *{
		text-align: left;
	}

	h1, nav {
		padding-left: 70px;
	}


	/* gallery formatting */
	.piece img{
	max-width: 100%;
	height: auto;	
	overflow: hidden;
	}



}
/* desk rules */
@media screen and ( min-width: 697px) {

	#logo {
		margin: 0 2em 0 40px;
		width: 120px;
	}

	#menuTog {
		display: none;
	}

	/* grid formatting */
	.grid {
		max-width: 1280px;
		display: grid;
		grid-template-columns: 456px 848px;
		margin: auto;
		gap: 2rem;
	}

	header{
		grid-column: 1 / 2;
	}

	main {
		grid-column: 2 / 3;
	}

	.item > p {
	width: 160px;
}
	/* index layout */
	h1, nav {
		padding-left: 192px;
	}



	/* gallery layout */

	.piece{
		padding: 128px 0;
		text-align: center;
	}

	.piece img{
		height: 600px;
	}

}